# Flutter/Dart/Pub related
**/build/
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# VS Code related
.vscode/

# IntelliJ related
.idea/
*.iml

# Android related
android/.gradle/
android/captures/
android/app/**/*.keystore

# iOS/Xcode related
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/
ios/build/
ios/Runner/GeneratedPluginRegistrant.*

# macOS related
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec
macos/Pods/
macos/.symlinks/
macos/Runner.xcworkspace/
macos/build/

# Web related
web/.dart_tool/
web/
